{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<your storage account connection string>",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "REDIS_HOST": "<your-redis-name>.redis.cache.windows.net",
    "REDIS_KEY": "<your Redis primary access key>",
    "REDIS_PORT": "6380"
  }
}
